In [4]:
import pandas as pd

# criando o banco de dados no excel com o uso do python
banco_de_dados = pd.read_excel('banco_de_dados_teste.xlsx', engine='openpyxl')
banco_de_dados.head()

lista = [[5,'Gabriel','Gabriel', 'Teste', 0, 0, 0, '23/11/2022','']]
new_info_bd = pd.DataFrame(lista, columns=['ID', 'Solicitante', 'Motorista', 'Categoria', 'Quantidade', 'Valor Unitário', 'Total', 'Data', 'Observações'])

banco_de_dados.head()

,ID,Solicitante,Motorista,Categoria,Quantidade,Valor Unitário,Total,Data,Observações
0,4,Gabriel,Gabriel,Teste,0,0,0,23/11/2022,NaN
1,5,Gabriel,Gabriel,Teste,0,0,0,23/11/2022,NaN
2,5,Gabriel,Gabriel,Teste,0,0,0,23/11/2022,NaN

In [2]:
banco_de_dados = banco_de_dados.append(new_info_bd)

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_16792\954349598.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  banco_de_dados = banco_de_dados.append(new_info_bd)

In [3]:
banco_de_dados.to_excel("banco_de_dados_teste.xlsx", index=False)