In [5]:
import pandas as pd
banco = pd.read_excel(r'C:\Users\Gabriel\Desktop\Programação\Requisicao_combustivel\banco_de_dados.xlsx')
banco.head()

,ID,Solicitante,Motorista,Categoria,Quantidade,Preço Unitário,Total,Data,Observação
0,1,Gabriel,Gabriel,Teste,0.0,0.0,0,2022-11-23 00:00:00,Teste para buscar valores
1,2,Adilson,Adilson,Gasolina,3.0,NaN,9,23/11/2022,NaN
2,3,Adilson,Gabriel,Filtro de óleo,3.0,3.0,9,23/11/2022,teste arrumado colunas
3,4,Gemerson,Adilson,Filtro de óleo,3.0,3.0,9,23/11/2022,teste do refresh
4,5,Adilson,Adilson,Etanol,5.0,5.0,25,23/11/2022,NaN

In [63]:
banco.query('ID == 2').replace([2,'Adilson','Adilson','Gasolina', 3, '', 9, '23/11/2022', ''], [2,'Gabriel', 'Gabriel','Etanol', 0,0,0,'30/11/2022','replace'], inplace=True)

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_8472\1086156360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  banco.query('ID == 2').replace([2,'Adilson','Adilson','Gasolina', 3, '', 9, '23/11/2022', ''], [2,'Gabriel', 'Gabriel','Etanol', 0,0,0,'30/11/2022','replace'], inplace=True)

In [64]:
banco.head()

,ID,Solicitante,Motorista,Categoria,Quantidade,Preço Unitário,Total,Data,Observação
0,1,Gabriel,Gabriel,Teste,0.0,0.0,0,2022-11-23 00:00:00,Teste para buscar valores
1,2,Adilson,Adilson,Gasolina,3.0,NaN,9,23/11/2022,NaN
2,3,Adilson,Gabriel,Filtro de óleo,3.0,3.0,9,23/11/2022,teste arrumado colunas
3,4,Gemerson,Adilson,Filtro de óleo,3.0,3.0,9,23/11/2022,teste do refresh
4,5,Adilson,Adilson,Etanol,5.0,5.0,25,23/11/2022,NaN