In [1]:
from reportlab.pdfgen import canvas
from reportlab.lib.pagesizes import A4
from reportlab.pdfbase import pdfmetrics
from reportlab.pdfbase.ttfonts import TTFont

In [10]:
pdfmetrics.registerFont(TTFont('Impact', 'Impact.ttf'))
pdfmetrics.registerFont(TTFont('Times', 'Times.ttf'))
teste = 'pdf'

In [11]:
cnv = canvas.Canvas(fr'meu_{teste}.pdf', pagesize=A4)
cnv.drawImage(r'C:\Users\Gabriel\Desktop\Programação\Requisicao_combustivel\Layout\imagens\WhatsApp Image 2022-12-06 at 20.27.54.jpeg', 0, 150, width = 550, height =700)
cnv.setFont('Times', 10)
cnv.drawString(33, 825, 'ID')
cnv.drawString(40,788,'06/12/2022')
cnv.drawString(60,769,'Gemerson')
cnv.drawString(55, 749, 'Motorista')
cnv.drawString(57, 717, 'Categoria')
cnv.drawString(48, 698, 'QTD')
cnv.drawString(57, 678, 'Preço Unit')
cnv.drawString(42, 658, 'Total')
cnv.drawString(15, 622, 'Observação')

cnv.drawString(33, 468, 'ID')
cnv.drawString(40,431,'Data')
cnv.drawString(60,411,'Solicitante')
cnv.drawString(55, 391, 'Motorista')
cnv.drawString(57, 360, 'Categoria')
cnv.drawString(48, 340, 'QTD')
cnv.drawString(57, 320, 'Preço Unit')
cnv.drawString(42, 300, 'Total')
cnv.drawString(15, 264, 'Observação')

cnv.save()

In [4]:
import pandas as pd
dados = pd.read_excel(r'C:\Users\Gabriel\Desktop\Programação\Requisicao_combustivel\banco_de_dados.xlsx')
dados.head()

,ID,Solicitante,Motorista,Categoria,Quantidade,Preço Unitário,Total,Data,Observação
0,1,Adilson,Gabriel,Etanol,15.0,10.0,150,02/12/2022,NaN
1,2,Adilson,Adilson,Filtro de óleo,100.0,3.0,300,02/12/2022,teste att
2,3,Gabriel,Adilson,Gasolina,5.0,NaN,0,02/12/2022,NaN
3,4,Gabriel,Gemerson,Gasolina,NaN,10.0,0,02/12/2022,teste top
4,5,Gabriel,Adilson,Etanol,3.0,NaN,0,06/12/2022,NaN

In [5]:
dados['ID'][0]

1

In [6]:
teste = [[0, 3, 5]]
teste[0]

[0, 3, 5]

In [7]:
teste[0][2]

5

In [8]:
float1 = 3.5
str1 = str(float1)
print(str1)

3.5

In [9]:
float_value = 1.99
string_value = str(float_value)

print(string_value)

1.99